/* font-family: 'Oswald', sans-serif;
font-family: 'Yanone Kaffeesatz', sans-serif;
font-family: 'Signika', sans-serif; */

body {
  margin: 0;
  padding: 0;
  font-family: "Signika", sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  background-image: url("./images/NSS-logo-horizontal-large.png");
  background-repeat: no-repeat;
  background-color: black;
  background-size: contain;
}

h1 {
  color: whitesmoke;
  padding-top: 10%;
}

h3 {
  color: whitesmoke;
}

.card-body {
  padding: 0rem;
}

.card-header {
  background: linear-gradient(to right, #ed2623, #fa9e25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  color: whitesmoke;
  text-shadow: 1px 1px 1px black;
  min-height: 80px;
}

.form-control {
  border: 1px solid silver;
}

.gold {
  background-color: rgba(255, 196, 0, 0.931);
}

.card {
  border: 1px solid rgb(138, 140, 142);
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.form-check {
  padding-left: 2rem;
}

.green {
  background-color: rgba(26, 180, 26, 0.829);
}

.flexBox-container {
  display: flex;
  flex-wrap: wrap;
  opacity: 0.9;
}

.container {
  width: 45vw;
  margin: 1px;
  padding: 7px;
}

.loginForm {
  margin-top: 10vw;
  max-width: 75vw;
  color: black;
  display: flex;
  flex-direction: Column;
  justify-content: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

.btn-warm {
  width: 50%;
}

.h1-header {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  color: whitesmoke;
  background: linear-gradient(to right, #ed2623, #fa9e25);
  margin: 0px;
  text-align: center;
  padding-top: 5%;
  text-shadow: 1px 1px 1px black;
}

.form-styling {
  background-color: whitesmoke;
  border-radius: 0 0 5px 5px;
}

#signInBtn {
  background-color: #343a40;
}

#registerBtn {
  color: black;
  background-color: #e9ecef;
}

a {
  padding-right: 20px;
  padding-left: 20px;
}

.nav {
  justify-content: center;
  align-content: center;
}

#instructor {
  /* background-color: #ed2623; */
  background-color: #FFB701;
  text-shadow: 1px 1px 1px black;
}

#student {
  /* background-color: #FFB701; */
  background-color: #ed2623;
  text-shadow: 1px 1px 1px black;
}

.radiotBtns {
  justify-content: center;
  align-content: center;
  align-items: center;
}

.card-link {
  margin-left: 12%;
}

.center-me {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.bleed {
  color: red;
}
.btn-outline-danger {
  color: #ed2623;
  background-color: transparent;
  background-image: none;
  border-color: #ed2623;
}
.btn-outline-danger:hover {
  color: #fff;
  background-color: #ed2623;
  border-color: #ed2623;
}
.btn-outline-warning {
  color: #FFB701;
  background-color: transparent;
  background-image: none;
  border-color: #FFB701;
}
.btn-outline-warning:hover {
  color: #fff;
  background-color: #FFB701;
  border-color: #FFB701;
}
.exercise-dropdown-item {
  color: #FFB701;
  padding: .0rem 1.5rem;
}
.exercise-dropdown-header {
  color: #FFB701;
  padding: .0rem 1.5rem;
}
.dropdown-divider{
  border-top: 1px solid whitesmoke;
  margin:0rem;
}
.dropdown-menu {
  background-color:black;
}
.student-dropdown-item {
  color: #ed2623;
  padding: .0rem 1.5rem;
}
.student-dropdown-header {
  color: #ed2623;
  padding: .0rem 1.5rem;
}
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}